
body {
  margin: 0;
  background-image: url("../img/sun.jpg");
  background-repeat: repeat;
}

h1 {
  text-align: center;
  margin: 0;
}

div {
  height: 200px;
  width: 250px;
  /* padding: 200px; */
  margin: 0;
}

.div-one {
  background-color: red;
}

.div-two {
  background-color: green;
}

.div-three {
  background-color: brown;
}
